<div class="text-center col-md-6 mx-auto">
    <h2 class="my-4">All to-do's</h2>
    <ul class="list-group">
        <% todos.forEach(function(todo) { %>
            <a href="/details/<%- todo._id%>" class="list-group-item list-group-item-action flex-column align-items-start">
                <p class="mb-1"><%= todo.text %></p>
            </a>
        <% }); %>
    </ul>
    <a href="/add" class="btn btn-outline-primary mt-4">Add</a>
</div>